.navtabs-nav {
    --bg-color: rgb(255, 255, 255);
    /* --bg-color: #985959; */
}

.navtabs-nav {
    background-color: var(--bg-color) !important;
    letter-spacing: 1.3px;
    /* --navbar-height can be updated in ./utils/globalStyles.css */
    height: var(--navbar-height);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  }

.navtabs-nav .navbar-brand {
    font-family: 'Kaushan Script', cursive;
    font-weight: 700;
    font-size: 1.6em;
}

.navtabs-nav .nav-link {
    font-family: 'Oxygen', sans-serif;
}       

/* NAVBAR - COLLAPSE */

.navbar-collapse {
    background-color: white;
}




/* Landscape mode styles */
@media screen and (max-width: 767px) {
    .navtabs-nav {
        position: sticky;
        background-color: rgb(255, 255, 255, 0.5);
        width: 100%;
        z-index: 10000;

    }
    .navbar-collapse {
        background-color: rgba(247, 247, 247, 0.97);
    }

  }



/* Landscape mode styles */
@media screen and (orientation: landscape) {
    .navtabs-nav {
        /* background-color: rgba(255, 255, 255, 0.1); */
        letter-spacing: 1.3px;
        /* --navbar-height can be updated in ./utils/globalStyles.css */
        height: var(--navbar-height-landscape);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
        position: relative !important;
      }
    
      .navbar-collapse {
        background-color: rgb(255, 255, 255, 0.1);
    }
  }