.job-body {
    --job-card-bg-color: rgba(77, 83, 98, 0.2);
    --job-header-color: rgba(77, 83, 98, 1);
}

.job-body {
    background-color: var(--body-bg-color);
    font-family: 'Numans', sans-serif;
}

.job-card-container {
    display: flex;
    flex-wrap: wrap;
}


/* JOBS SEARCH TITLE */
.job-search-title {
    display: flex;
    height: 3.75rem;
    justify-content: center;
    align-items: center;
    background-color: var(--toolbar-bg-color);
    margin-bottom: 1rem;
    margin-top: 0rem;
    padding-top: 0rem;
}
.job-search-title h1 {
    margin: 0;
    font-size: 1.3rem;
    letter-spacing: 1px;
}

/* JOB TITLE */

.job-basicInfoContainer {
    margin-bottom: 2rem;
}

.job-title {
    border-bottom: solid;
    border-color: grey;
    border-width: 0.1rem;
    font-weight: 800;
    font-size: 1.5rem;
}
.job-company {
    font-size: 1.2rem;
}
.job-posting-info {
    margin: 0;

}

.job-card {
    flex-grow: 1;
    align-items: space-around;
    background-color: var(--job-card-bg-color);
    padding: 40px;
    width:40%;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* JOB URL SECTION */

.job-url-section {
    display: flex;
    justify-content: space-around;
}

.job-url {
    color: black;
    text-decoration: none;

}

.job-url:hover{
    text-decoration: underline;
}





@media only screen and (max-width: 768px) {
    .job-card {
        width: 100%;
    }
}