:root {
  --body-bg-color: rgba(233, 233, 233, 1);
  --body-bg-color: rgb(248, 248, 248);
  --scrollbar-bg: #f1f1f1;
  --scrollbar-color: #888;
  --scrollbar-color-hover: #555;
  --navbar-height: 4rem;
  --navbar-height-landscape: 2.3rem;
}



body {
  background-color: var(--body-bg-color);
  margin: 0 auto;
  /* max-width: 100%; */
}



/* SCROLLBAR STYLING */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--scrollbar-bg)
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color)
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-color-hover)
  }




  /* Landscape mode styles */
@media screen {
  body {
    margin: 0 auto;
    /* margin-top: var(--navbar-height) */
  }
}

/* Landscape mode styles */
@media screen and (orientation: landscape) {
  body {
    margin: 0 auto;
  }
}